body{
    background: #ebebeb;
}

.row{
    display: inline;
    width:250px;
    margin:10px;
}


#csv-manipulation{
    display: none;
}
.change{
    margin:50px;
    padding:50px;
    border-radius: 15px;
    background: #ebebeb;
    box-shadow:  5px 5px 10px #c8c8c8, 
                 -5px -5px 10px #ffffff;
}

.original-table{
    display: none;
    margin:50px;
    padding:1px;
    border-radius: 15px;
    background: #ebebeb;
    box-shadow:  5px 5px 10px #c8c8c8, 
                 -5px -5px 10px #ffffff;
}